%h2 Members
%p This will be password protected
%table.table.table-striped.table-hover
  %thead
    %th First Name
    %th Last Name
    %th Username
  %tbody
    %tr
      %td Laura
      %td T
      %td trev
      %td
        %a.btn.btn-small{:href => "/members/show"} View
    %tr
      %td Joshua
      %td Y
      %td uhawl1
      %td
        %a.btn.btn-small{:href => "/members/show"} View
    %tr
      %td Casey
      %td D
      %td cdubois
      %td
        %a.btn.btn-small{:href => "/members/show"} View


