%h2 Laura T (trev)
%h4 Information!

%table.table
  %tr
    %th Age
    %td 23
  %tr
    %th Address
    %td
      1234 Street Name
      %br
      City, State ZIP
  %tr
    %th Email
    %td email@address.com
  %tr
    %th Gender
    %td Female
  %tr
    %th Kids?
    %td No

%h4 Skills
%table.table
  %tr
    %td Skill 1
  %tr
    %td Skill 2

%h4 Interests
%table.table
  %tr
    %td.span2 Interest 1
    %td.span10 Description of interest
  %tr
    %td.span2 Interest 2
    %td.span10 Description of interest