%legend Not a member? Register now!
%p Lots of reasons!
%ul
  %li Maybe we can list some here.
  %li and here.
  %li and here?
%a.btn.btn-large.btn-primary{:href => "/register"} Register Now
=# haml :_form_register