%legend Not a member? Register now!
.row-fluid
  .span6
    %p Enter your information here to allow you member access.
    %ul
      %li Share and access member information.
      %li Find collaborators that share your interests.
      %li Find members with particular skillsets to further your project.
      %li Organizers/Original Founders have access to export functionality for conferences.
  .span6{:style => "margin-left: 1.8%;"}
    = haml :_form_register