!!!
%html
  %head
    %title="GR Makers Social | #{@title}"
    %meta{ :name => "viewport", :content=>"width=device-width, initial-scale=1.0"}
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/jquery-1.9.1.min.js" }
    %link{ :href => url_for('/static/bootstrap/css/bootstrap-responsive.css'), :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => url_for('/static/bootstrap/css/bootstrap.css'), :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => url_for('/static/css/main.css'), :rel => 'stylesheet', :type => 'text/css' }
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          - if authenticated?
            %ul.nav.pull-right
              %li
                %a{:href => "/account"} Account
          - else 
            %form.navbar-form.pull-right{:action => '/login', :method => :post} 
              %input.input-medium{:type => :text, :placeholder => "Username/Email"} 
              %input.input-medium{:type => :password, :placeholder => "Password"}
              %input.input-medium.btn{:type => :submit, :value => "Login"}
    .container
      .masthead
        .row
          %a{:href => '/'}
            %img.span2{:src => "/static/img/grmakers-logo.jpg"}
          %span.span10
            %h3.muted Welcome to GRMakers Member Information Center
            %p.muted Enter your information here to have an easy way to share and access member information.
            %p.muted Your project can be even better if you collaborate with members who's skillset fits your needs!  Dream, Collaborate, Create!
        .navbar
          .navbar-inner
            .container
              %ul.nav
                - settings.pages.each do |page|
                  - unless page[:title] == "Home"
                    %li{:class => current?(page[:path])}
                      %a{:href => url_for(page[:path])}=page[:title]
      .row-fluid
        =yield
      .row-fluid
        .footer
          %hr
          .social-elements.clearfix
            %ul
              %li
                %a.twitter{:href => "https://twitter.com/GRMakers", :title => "Twitter", :target => "_blank"}
              %li
                %a.facebook{:href => "https://www.facebook.com/GRMakers", :title => "Facebook", :target => "_blank"}
              %li
                %a.feedback{:href => "http://groups.google.com/forum/?fromgroups#!forum/grmakers", :title => "Feedback Form", :target => "_blank"}
          %p.copy This is where footer stuff goes. So, &copy; 2013 ltrevisan.net?
