/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Custom Footer */
.footer {
  padding: 0;
  font-size: 80%;
  text-align: center;
  clear: both;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.masthead {
  margin-top: 15px;
}
.masthead .navbar .navbar-inner {
  padding: 0;
}
.masthead .navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.masthead .navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.masthead .navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.1);
}
.masthead .navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.masthead .navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/* Social Media styles */
.social-elements {
  width: 84px; /* number of social media icons x [24px (width) + 4px horizontal padding]*/
  margin: 0 auto;
  clear: both;
}

.social-elements ul {
  margin: 0;
  padding: 0;
}

.social-elements ul li {
  list-style-type: none;
}

.social-elements a span {
  display: none;
}

.social-elements a {
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 0 4px 4px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-elements a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.facebook {
    background: url(/static/img/sprite_social_element.png) no-repeat -1px 0;
}

.twitter {
    background: url(/static/img/sprite_social_element.png) no-repeat -1px -30px;
}

.rss {
    background: url(/static/img/sprite_social_element.png) no-repeat -1px -240px;
}

.flickr {
    background: url(/static/img/sprite_social_element.png) no-repeat -1px -360px;
}

.feedback {
    background: url(/static/img/sprite_social_element.png) no-repeat -1px -450px;
}
